/* MAIN CONTAINERS */

#root {
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  position: relative;
}

.App {
  height: 100vh;
  width: 100vh;
}

/* LOGIN PAGE */

#login-box {
  /* margin: 0 auto; */
  width: 350px;
  padding: 1%;
  border-radius: 10px;
  background-color: white;
}

#main-logo {
  margin: 0.5rem;
  width: 350px;
}

#main-logo > h1 {
  margin: 0;
  font-size: 2rem;
}

.error-message {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 300px;
}

.signup-button {
  margin: 0 auto;
  width: auto;
}

.h-divider {
  width: 95%;
  height: 1px;
  margin: 3% auto;
  background-color: rgb(209, 209, 209);
}

.v-divider {
  height: 95%;
  width: 1px;
  margin: auto 1%;
  background-color: rgb(209, 209, 209);
}

/* HOMEPAGE */
#homepage > * {
  margin: 20px auto;
}

.homepage-image {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.welcome-message {
  font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.nav-link-container {
  width: 200px;
  margin: auto 4%;
}

.nav-link-container {
  font-size: 1.5rem;
}

/* ACCOUNT SETTINGS PAGE */
#account-settings-page > * {
  margin: 0 5%
}

/* MISCELLANEOUS HELPERS */
.no-gutters {
  padding: 0 !important;
}