/* MAIN CONTAINERS */
body {
  background-color: rgb(245, 245, 245);
}

#root {
  margin: 0 auto;
}

/* LOGIN PAGE */

#login-box {
  /* margin: 0 auto; */
  width: 350px;
  padding: 1%;
  border-radius: 10px;
  background-color: white;
}

#main-logo {
  margin: 0.5rem;
  width: 350px;
}

#main-logo > h1 {
  margin: 0;
  font-size: 2rem;
}

.error-message {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 300px;
}

.signup-button {
  margin: 0 auto;
  width: auto;
}

.h-divider {
  width: 95%;
  height: 1px;
  margin: 3% auto;
  background-color: rgb(209, 209, 209);
}

.v-divider {
  height: 30px;
  width: 1px;
  margin: auto 1%;
  background-color: rgb(170, 170, 170);
}

/* HOMEPAGE */
#home-page > * {
  margin: 20px auto;
}

.homepage-image {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.welcome-message {
  font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.nav-link-container {
  width: 200px;
  margin: auto 4%;
}

.nav-link-container {
  font-size: 1.5rem;
}

/* ACCOUNT SETTINGS PAGE */
#account-settings-page {
  padding: 0 20px;
}

#account-settings-page > * {
  margin: 0 5%
}

#account-settings-page > div.user-preview {
  width: 40%;
}

div.user-preview > * {
  margin: 20px auto;
}

#edit-settings-column {
  margin: 20px 0;
}

#edit-settings-column > h1 {
  margin: 0;
}

.section-title-divider {
  width: 95%;
  height: 1px;
  margin: 1% auto 1% 0;
  background-color: rgb(100, 100, 100);
}

.editable-setting {
  position: relative;
  width: 95%;
}

.editable-setting > * {
  /* margin-top: auto; */
  margin-bottom: auto;
}

.editable-setting > h3 {
  font-weight: 400;
}

.editable-setting > p.edit-field {
  color: rgb(28, 0, 184) !important;
  margin-left: auto;
}

.editable-setting > p {
  margin-left: 1%;
  font-size: 1.5rem;
  font-weight: 300;
}

/* MISCELLANEOUS HELPERS */
.no-gutters {
  padding: 0 !important;
}