#root {
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
}

.App {
  height: 100vh;
  width: 100vh;
}

#login-box {
  /* margin: 0 auto; */
  width: 350px;
  padding: 1%;
  border-radius: 10px;
  background-color: white;
}

#main-logo {
  margin: 0.5rem;
  width: 350px;
}

#main-logo > h1 {
  margin: 0;
  font-size: 2rem;
}

.error-message {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 300px;
}

.signup-button {
  margin: 0 auto;
  width: auto;
}

.divider {
  width: 95%;
  height: 1px;
  margin: 3% auto;
  background-color: rgb(209, 209, 209);
}