/* MAIN CONTAINERS */
body {
  background-color: rgb(245, 245, 245);
}

#root {
  margin: 0 auto;
}

/* LOGIN PAGE */

#login-box {
  /* margin: 0 auto; */
  width: 350px;
  padding: 1%;
  border-radius: 10px;
  background-color: white;
}

#main-logo {
  margin: 0.5rem;
  width: 350px;
}

#main-logo > h1 {
  margin: 0;
  font-size: 2rem;
}

.error-message {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 300px;
}

.signup-button {
  margin: 0 auto;
  width: auto;
}

.h-divider {
  width: 95%;
  height: 1px;
  margin: 3% auto;
  background-color: rgb(209, 209, 209);
}

.v-divider {
  height: 30px;
  width: 1px;
  margin: auto 1%;
  background-color: rgb(170, 170, 170);
}

/* HOMEPAGE */
#home-page > * {
  margin: 20px auto;
}

.homepage-image {
  max-width: 350px;
  height: auto;
  border-radius: 10px;
}

.welcome-message {
  font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.nav-link-container {
  width: 200px;
  margin: auto 4%;
}

.nav-link-container {
  font-size: 1.5rem;
}

/* ACCOUNT SETTINGS PAGE */
#account-settings-page {
  padding: 0 20px;
}

#account-settings-page > * {
  margin: 0 5%
}

#account-settings-page > div.user-preview {
  width: 40%;
}

div.user-preview > * {
  margin: 20px auto;
}

#edit-settings-column {
  margin: 20px 0;
}

#edit-settings-column > h1 {
  margin: 0;
}

.section-title-divider {
  width: 95%;
  height: 1px;
  margin: 1% auto 1% 0;
  background-color: rgb(100, 100, 100);
}

.editable-setting {
  position: relative;
  width: 95%;
  height: 2.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}

.editable-setting > * {
  margin-top: auto;
  margin-bottom: auto;
}

.editable-setting > h3 {
  font-weight: 400;
}

.editable-setting > p.edit-field, .create-new-item {
  color: rgb(28, 0, 184) !important;
  margin-left: auto;
  margin-right: 1%;
  font-size: 1rem;
}

p.edit-field:hover {
  cursor: pointer;
}

.editable-setting > p {
  margin-left: 1%;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 90%;
}

.editable-setting > input {
  margin-left: 1%;
}

.editable-setting > textarea {
  width: 40%;
}

.editable-setting > .bio-content {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.editable-setting > .no-content-entered, .editable-setting > .img-content {
  font-size: 1.2rem;
  color: rgb(180, 180, 180);
  margin-bottom: 0.2rem;
  font-style: italic;
}

.account-button-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.account-button-container > .btn {
  margin-right: 1%;
}

.enter-password-container > * {
  margin-top: auto;
  margin-bottom: auto;
}

.enter-password-container > label {
  font-size: 1.2rem;
}

.enter-password-container > input {
  margin-left: 1%;
  margin-right: 2%;
}

.password-button {
  margin-top: 1%;
}

.password-warning {
  color: rgb(140, 0, 0);
  font-style: italic;
  margin-top: auto;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}

/* AGREEMENTS PAGE */
#agreements-roster-page {
  margin: 0 10%;
}

#agreements-list-container {
  margin: 3rem 5rem 0 0;
  flex-shrink: 0;
  flex-basis: 15rem;
}

#agreements-list-title {
  margin: 0 0 0 1rem;
}

#agreements-list-title + div.h-divider {
  margin-top: 0;
  background-color: rgb(120, 120, 120);
}

#agreements-list {
  list-style-type: none;
  margin-top: 0;
  margin-left: 2rem;
  padding: 0;
}

#agreements-list > li {
  font-size: 1.5rem;
  font-weight: 200;
  color: rgb(30, 30, 30);
}

#agreements-list > li:hover {
  font-weight: 250;
  cursor: pointer;
}

#agreements-list > li.selected {
  font-style: italic;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

#agreements-list > li.selected:hover {
  font-weight: 450;
}

#agreement-details-container {
  margin-top: 0.6rem;
  margin-right: 0;
}

#agreement-header > * {
  margin-bottom: 0;
}

#agreement-header > .display-name {
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  margin-left: 3rem;
}

#agreement-header > .display-remaining-sessions {
  font-size: 3rem;
  font-weight: 300;
}

#agreement-header > .sessions-remaining {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#agreement-header + div.h-divider {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: rgb(120, 120, 120);
}

img.agreement-image {
  height: 100px;
  width: 100px;
}

#bio-container {
  margin: 2rem 0;
}

#bio-container > .user-bio-header {
  font-style: italic;
  font-weight: 500;
}

#bio-container > .user-bio-content {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

#demographics-container > h1, #credentials-container > h1, #training-sessions-list-container > div > h1, #goals-list-container > div > h1 {
  margin-bottom: 0;
  font-style: italic;
  font-size: 2.2rem;
}

#demographics-container > div.h-divider, #credentials-container > div.h-divider, #training-sessions-list-container > div.h-divider, #goals-list-container > div.h-divider {
  margin: 0;
  width: 100%;
  background-color: rgb(120, 120, 120);
}

.information-grid {
  margin: 0.5rem 0.2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
    'first second'
    'third third'
}

.information-grid > .birthdate {
  grid-area: third;
}

.information-grid > div {
  margin: 0.5rem 0;
}

.information-grid > div > h3 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin: auto;
  margin-left: 0;
  margin-right: 0.5rem;
}

.information-grid > div > p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: auto;
  margin-left: 0;
}

#training-sessions-list-container {
  margin: 2rem 0;
  margin-right: 1rem;
}

#training-sessions-list, #goals-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

#training-sessions-list > li, #goals-list > li {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(30, 30, 30);
}

#training-sessions-list > li:hover, #goals-list > li:hover {
  font-weight: 250;
  cursor: pointer;
}

.create-new-item {
  margin-bottom: 0;
  margin-top: auto;
}

.create-new-item:hover {
  cursor: pointer;
  font-weight: 450;
}

#goals-list-container {
  margin: 2rem 0;
  flex-shrink: 0;
  flex-basis: 40%;
}



/* MISCELLANEOUS HELPERS */
.no-gutters {
  padding: 0 !important;
}