/* MAIN CONTAINERS */
body {
  background-color: rgb(245, 245, 245);
}

#root {
  margin: 0 auto;
}

/* LOGIN PAGE */

#login-box, #signup-box {
  /* margin: 0 auto; */
  width: 22rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
  background-color: white;
}

#signup-box > button:first-child {
  width: auto;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

#signup-box > .form-group > .form-label {
  margin-bottom: 0.2rem;
}

#main-logo {
  margin: 0.5rem;
  width: 350px;
}

#main-logo > h1 {
  margin: 0;
  font-size: 2rem;
}

.error-message {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 300px;
}

.signup-button {
  margin: 0 auto;
  width: auto;
}

#signup-box > div > .signup-button {
  margin-right: 0;
}

#signup-box > .account-type-buttons > .field-header {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 400;
}

#signup-box > .account-type-buttons {
  margin-bottom: 1rem;
}

#account-type-buttons > button {
  width: 8rem;
  margin: 0 auto;
}

.h-divider {
  width: 95%;
  height: 1px;
  margin: 3% auto;
  background-color: rgb(209, 209, 209);
}

.v-divider {
  height: 30px;
  width: 1px;
  margin: auto 1%;
  background-color: rgb(170, 170, 170);
}

/* HOMEPAGE */
#home-page > * {
  margin: 20px auto;
}

.homepage-image {
  max-width: 350px;
  height: auto;
  border-radius: 10px;
}

.welcome-message {
  font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.nav-link-container {
  width: 200px;
  margin: auto 4%;
}

.nav-link-container {
  font-size: 1.5rem;
}

/* ACCOUNT SETTINGS PAGE */
#account-settings-page {
  padding: 0 20px;
}

#account-settings-page > * {
  margin: 0 5%
}

#account-settings-page > div.user-preview {
  width: 40%;
}

div.user-preview > * {
  margin: 20px auto;
}

#edit-settings-column {
  margin: 20px 0;
}

#edit-settings-column > h1 {
  margin: 0;
}

.section-title-divider {
  width: 95%;
  height: 1px;
  margin: 1% auto 1% 0;
  background-color: rgb(100, 100, 100);
}

.editable-setting {
  position: relative;
  width: 95%;
  height: 2.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}

.editable-setting > * {
  margin-top: auto;
  margin-bottom: auto;
}

.editable-setting > h3 {
  font-weight: 400;
}

.editable-setting > p.edit-field, .create-new-item {
  color: rgb(28, 0, 184) !important;
  margin-left: auto;
  margin-right: 1%;
  font-size: 1rem;
}

p.edit-field:hover, .new-agreement-link {
  cursor: pointer;
}

.editable-setting > p {
  margin-left: 1%;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 90%;
}

.editable-setting > input {
  margin-left: 1%;
}

.editable-setting > textarea {
  width: 40%;
}

.editable-setting > .bio-content {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.editable-setting > .no-content-entered, .editable-setting > .img-content {
  font-size: 1.2rem;
  color: rgb(180, 180, 180);
  margin-bottom: 0.2rem;
  font-style: italic;
}

.account-button-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.account-button-container > .btn {
  margin-right: 1%;
}

.enter-password-container > * {
  margin-top: auto;
  margin-bottom: auto;
}

.enter-password-container > label {
  font-size: 1.2rem;
}

.enter-password-container > input {
  margin-left: 1%;
  margin-right: 2%;
}

.password-button {
  margin-top: 1%;
}

.password-warning {
  color: rgb(140, 0, 0);
  font-style: italic;
  margin-top: auto;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}

/* AGREEMENTS PAGE */
#agreements-roster-page {
  margin: 0 10%;
}

#agreements-list-container {
  margin: 3rem 5rem 0 0;
  flex-shrink: 0;
  flex-basis: 15rem;
}

#pending-agreements-list-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 0.2rem;
}

#agreements-list-title {
  margin: 0 auto;
}

#agreements-list-title + div.h-divider, #pending-agreements-list-title + div.h-divider {
  margin-top: 0;
  background-color: rgb(120, 120, 120);
}

#agreements-list {
  list-style-type: none;
  margin-top: 0;
  margin-left: 2rem;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#agreements-list > li {
  font-size: 1.3rem;
  font-weight: 200;
  color: rgb(30, 30, 30);
  text-overflow: ellipsis;
}

#agreements-list > li:hover {
  font-weight: 250;
  cursor: pointer;
}

#agreements-list > li.selected {
  font-style: italic;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

#agreements-list > li.selected:hover {
  font-weight: 450;
}

.create-new-item.new-agreement-link {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 350;
}

.create-new-item.new-agreement-link.selected {
  font-weight: 550;
  font-style: italic;
}

#agreement-details-container {
  margin-top: 0.6rem;
  margin-right: 0;
}

#agreement-header > * {
  margin-bottom: 0;
}

#agreement-header > .display-name {
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  margin-left: 3rem;
}

#agreement-header > .display-remaining-sessions {
  font-size: 3rem;
  font-weight: 300;
}

#agreement-header > .sessions-remaining {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#agreement-header + div.h-divider {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: rgb(120, 120, 120);
}

img.agreement-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

#bio-container {
  margin: 2rem 0;
}

#bio-container > .user-bio-header {
  font-style: italic;
  font-weight: 500;
}

#bio-container > .user-bio-content {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

#demographics-container > h1, #credentials-container > h1, #training-sessions-list-container > div > h1, #goals-list-container > div > h1 {
  margin-bottom: 0;
  font-style: italic;
  font-size: 2.2rem;
}

#demographics-container > div.h-divider, #credentials-container > div.h-divider, #training-sessions-list-container > div.h-divider, #goals-list-container > div.h-divider {
  margin: 0;
  width: 100%;
  background-color: rgb(120, 120, 120);
}

.information-grid {
  margin: 0.5rem 0.2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
    'first second'
    'third third';
}

.information-grid > .birthdate {
  grid-area: third;
}

.information-grid > div {
  margin: 0.5rem 0;
}

.information-grid > div > h3 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin: auto;
  margin-left: 0;
  margin-right: 0.5rem;
}

.information-grid > div > p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: auto;
  margin-left: 0;
}

#training-sessions-list-container {
  margin: 2rem 0;
  margin-right: 1rem;
}

#training-sessions-list, #goals-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

#training-sessions-list > h4, #goals-list > h4 {
  font-size: 1.5rem;
  font-weight: 250;
}

#training-sessions-list > li, #goals-list > li {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(30, 30, 30);
}

#training-sessions-list > li:hover, #goals-list > li:hover {
  font-weight: 250;
  cursor: pointer;
}

.create-new-item {
  margin-bottom: 0;
  margin-top: auto;
}

.create-new-item:hover {
  cursor: pointer;
  font-weight: 450;
}

#goals-list-container {
  margin: 2rem 0;
  flex-shrink: 0;
  flex-basis: 40%;
}

/* TRAINING SESSION MODAL */
.training-session-header.modal-header {
  padding-bottom: 0.5rem;
}

.training-session-header > * {
  margin: 0;
  margin-top: auto;
}

.training-session-header > .modal-title {
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}

.training-session-header > h3 {
  font-weight: 350;
  font-size: 1.5rem;
}

.training-session-header > p {
  margin-right: 0.4rem;
  margin-left: auto;
  font-style: italic;
}

.training-session-header > button {
  margin-left: 2rem !important;
}

.training-session-body.modal-body {
  padding: 0 2rem;
}

.training-session-body > div {
  margin: 1rem auto;
}

.status-container > * {
  margin: 0;
  margin-top: auto;
}

.status-container > h3.status {
  margin-left: 0;
}

.status-container > p.complete-status {
  margin-left: 0.4rem;
}

.status-container > h3.rating {
  margin-right: 0;
  margin-left: auto;
}

.status-container > p.rating-value {
  margin-right: 0;
  margin-left: 0.4rem;
}

.description-container > * {
  margin: 0;
}

.description-container > h3 {
  margin-top: 0;
  margin-bottom: auto;
}

.description-container > p {
  flex: 1;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}

.training-session-body > .h-divider {
  width: 100%;
}

.workout-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 450;
  margin-bottom: 0;
}

.workout-table > .workout-row {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 25% 15% 40%;
  grid-template-rows: auto;
  grid-template-areas:
    'exercise schema recovery description';
}

.workout-row > .exercise {
  grid-area: exercise
}

.workout-row > .schema {
  grid-area: schema
}

.workout-row > .recovery {
  grid-area: recovery
}

.workout-row > .description {
  grid-area: description
}

.workout-row > p {
  text-align: center;
  margin: 0.2rem;
}

.workout-row > .heading {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: underline;
}

.workout-table > .h-divider {
  margin: 0;
  width: 100%;
}

/* GOAL MODAL */
.goal-header.modal-header {
  padding-bottom: 0.5rem;
}

.goal-header > * {
  margin: 0;
  margin-top: auto;
}

.goal-header > .modal-title {
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}

.goal-body > .description-container > h3 {
  margin-top: 0;
  margin-bottom: auto;
  font-size: 1.2rem;
}

.goal-body > .description-container > p {
  margin-top: 0;
}

/* NEW TRAINING SESSION FORM */
.new-training-session-body > .h-divider {
  width: 100%;
}

.h-divider {
  background-color: rgb(150, 150, 150)
}

.form-group.row > button {
  margin-left: 1rem;
  margin-right: auto;
}

.new-training-session-body > button + button {
  margin-left: 0.5rem;
}

.new-training-session-body > .submit-button {
  position: absolute;
  right: 1rem;
}

/* NEW TRAINING AGREEMENT */
#new-agreement-container {
  padding-top: 3.5rem;
}

#new-agreement-container > div {
  margin-top: 1rem;
  
}

#new-agreement-container > div > h3 {
  margin-left: 2rem;
  margin-right: auto;
}

#new-agreement-container > .new-agreement-header {
  margin-top: 0;
  width: auto;
}

.new-agreement-header > h1 {
  margin: 0 auto;
  font-weight: 400;
  font-size: 3rem;
  margin-left: 1rem;
}

.new-agreement-header > .h-divider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.card > .card-body {
  padding: 0.5rem;
}

.card-body > * {
  margin: 0 auto;
}

.card-body > .card-title {
  text-align: center;
  /* font-style: italic; */
  font-weight: 350;
  margin-bottom: 0;
}

.card-body > .h-divider {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}

.card-body > div.d-flex {
  margin-top: 0.1rem;
}

.card-body > div.d-flex > * {
  margin-top: auto;
  margin-bottom: auto;
}

.card-body > div.d-flex > p {
  margin-left: 0.3rem;
}

.card-container > .card-group-link {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(189, 189, 189);
  align-self: center;
  cursor: default;
}

.card-container > .card-group-link.clickable {
  color: rgb(95, 95, 95);
}

.card-container > .card-group-link.clickable:hover {
  cursor: pointer;
  color: rgb(40, 40, 40)
}

.card {
  cursor: pointer;
}

.card-group > * {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.card-body > .selected-card {
  font-weight: 600;
  font-style: italic
}

.card.selected-card {
  outline: 0.25rem solid rgb(118, 115, 167);
}

#new-agreement-container > button {
  margin-left: auto;
  margin-right: 0;
  max-width: 15rem;
}

/* MISCELLANEOUS HELPERS */
.no-gutters {
  padding: 0 !important;
}