/* MAIN CONTAINERS */
body {
  background-color: rgb(245, 245, 245);
}

#root {
  margin: 0 auto;
}

/* LOGIN PAGE */

#login-box {
  /* margin: 0 auto; */
  width: 350px;
  padding: 1%;
  border-radius: 10px;
  background-color: white;
}

#main-logo {
  margin: 0.5rem;
  width: 350px;
}

#main-logo > h1 {
  margin: 0;
  font-size: 2rem;
}

.error-message {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 300px;
}

.signup-button {
  margin: 0 auto;
  width: auto;
}

.h-divider {
  width: 95%;
  height: 1px;
  margin: 3% auto;
  background-color: rgb(209, 209, 209);
}

.v-divider {
  height: 30px;
  width: 1px;
  margin: auto 1%;
  background-color: rgb(170, 170, 170);
}

/* HOMEPAGE */
#home-page > * {
  margin: 20px auto;
}

.homepage-image {
  max-width: 350px;
  height: auto;
  border-radius: 10px;
}

.welcome-message {
  font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.nav-link-container {
  width: 200px;
  margin: auto 4%;
}

.nav-link-container {
  font-size: 1.5rem;
}

/* ACCOUNT SETTINGS PAGE */
#account-settings-page {
  padding: 0 20px;
}

#account-settings-page > * {
  margin: 0 5%
}

#account-settings-page > div.user-preview {
  width: 40%;
}

div.user-preview > * {
  margin: 20px auto;
}

#edit-settings-column {
  margin: 20px 0;
}

#edit-settings-column > h1 {
  margin: 0;
}

.section-title-divider {
  width: 95%;
  height: 1px;
  margin: 1% auto 1% 0;
  background-color: rgb(100, 100, 100);
}

.editable-setting {
  position: relative;
  width: 95%;
  height: 2.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}

.editable-setting > * {
  margin-top: auto;
  margin-bottom: auto;
}

.editable-setting > h3 {
  font-weight: 400;
}

.editable-setting > p.edit-field {
  color: rgb(28, 0, 184) !important;
  margin-left: auto;
  margin-right: 1%;
  font-size: 1rem;
}

p.edit-field:hover {
  cursor: pointer;
}

.editable-setting > p {
  margin-left: 1%;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 90%;
}

.editable-setting > input {
  margin-left: 1%;
}

.editable-setting > textarea {
  width: 40%;
}

.editable-setting > .bio-content {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.editable-setting > .no-content-entered, .editable-setting > .img-content {
  font-size: 1.2rem;
  color: rgb(180, 180, 180);
  margin-bottom: 0.2rem;
  font-style: italic;
}

.account-button-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.account-button-container > .btn {
  margin-right: 1%;
}

.enter-password-container > * {
  margin-top: auto;
  margin-bottom: auto;
}

.enter-password-container > label {
  font-size: 1.2rem;
}

.enter-password-container > input {
  margin-left: 1%;
  margin-right: 2%;
}

.password-button {
  margin-top: 1%;
}

.password-warning {
  color: rgb(140, 0, 0);
  font-style: italic;
  margin-top: auto;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}

/* MISCELLANEOUS HELPERS */
.no-gutters {
  padding: 0 !important;
}