
.App {
  height: 100vh;
  width: 100vh;
}

#login-box {
  /* margin: 0 auto; */
  width: 350px;
  padding: 1%;
  border-radius: 5px;
}

#main-logo {
  margin: 0;
  width: 350px;
}

#main-logo > h1 {
  margin: 0;
  font-size: 2rem;
}

.login-button {
}

.signup-button {
  margin: 0 auto;
  width: auto;
}

.divider {
  width: 95%;
  height: 1px;
  margin: 3% auto;
  background-color: rgb(209, 209, 209);
}